<!doctype html>
<html lang="{{ site.language }}">
<head>
{% include "partials/seo.njk" %}
</head>
<body class="line-numbers match-braces">
{{content|safe}}
<hr/>
<footer>
    <p><em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em></p>
</footer>
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>
