---
layout: base.njk
---
{% include "partials/nav.njk" %}
<main id="skip">
<header class="container">
<hgroup>
<h1><a href="{{page.url}}">{{title or site.title}}</a></h1>
<h2><em>{{ description or site.description }}</em></h2>
</hgroup>
</header>
<div class="container snls snts">
<heading-anchors>
{{ content | safe }}
</heading-anchors>
{% include "partials/pagination.njk" %}
</div>
<script type="text/javascript" defer>
    $(function() {
        $("div.ui-tabs").tabs({
            activate: function( event, ui ) {
                var tabIndex = $(this).tabs('option', 'active');
                $("div.ui-tabs").tabs({active:tabIndex});
            }
        });
    });
    
</script>
</main>
