<div style="text-align: center; font-size: xx-large;">
  <header class="container">
    <hgroup>
      <h1><a href="{{site.title}}">{{site.title}}</a></h1>
      <h2><em>{{ site.description }}</em></h2>
    </hgroup>
  </header>
</div>
<navbar>
  <nav class="container-fluid">
    {% for n in site.navbar %}<div><a href="{{n.link}}">{{n.nav}}</a></div>{% endfor %}
  </nav>
</navbar>
<hr />
