<div class="container p-5">
<nav>
{%- if collections.projects %}
{%- set previousPost = collections.projects | getPreviousCollectionItem %}
{%- if nextPost or previousPost %}
{%- if previousPost %}
<ul>
<li>
<a href="{{ previousPost.url }}" title="{{ previousPost.data.title }}" role="button" class="{{site.color}}">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg> <small>Previous</small>
</a>
</li>
</ul>
{%- endif %}
{%- endif %}
{%- endif %}
{% if pagination.href.previous %}<ul><li><a href="{{ pagination.href.previous }}" class="secondary">← Previous</a></li></ul>{% endif %}
{%- if collections.articles %}
{%- set previousPost = collections.articles | getPreviousCollectionItem %}
{%- if nextPost or previousPost %}
{%- if previousPost %}
<ul>
<li>
<a href="{{ previousPost.url }}" title="{{ previousPost.data.title }}" role="button" class="{{site.color}}">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg> <small>Previous</small>
</a>
</li>
</ul>
{%- endif %}
{%- endif %}
{%- endif %}
{%- if collections.projects %}
{%- set nextPost = collections.projects | getNextCollectionItem %}
{%- if nextPost or previousPost %}
{%- if nextPost %}
<ul>
<li>
<a href="{{ nextPost.url }}" title="{{ nextPost.data.title }}" role="button" class="{{site.color}}">
<small>Next</small> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
</svg>
</a>
</li>
</ul>
{%- endif %}
{%- endif %}
{%- endif %}
{% if pagination.href.next %}<ul><li><a href="{{ pagination.href.next }}" class="secondary">Next →</a></li></ul>{% endif %}
{%- if collections.articles %}
{%- set nextPost = collections.articles | getNextCollectionItem %}
{%- if nextPost or previousPost %}
{%- if nextPost %}
<ul>
<li>
<a href="{{ nextPost.url }}" title="{{ nextPost.data.title }}" role="button" class="{{site.color}}">
<small>Next</small> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
</svg>
</a>
</li>
</ul>
{%- endif %}
{%- endif %}
{%- endif %}
</nav>
</div>
