{% set css %} {% include "css/style.css" %} {% endset %}
<style>{{ css | cssmin | safe }}</style>
<style>
    pre[class*=language-]:after, 
    pre[class*=language-]:before {
        box-shadow:none
    }

    pre[class*=language-].line-numbers.line-numbers {
        max-height: 700px;
    }

    nav {
        justify-content: space-evenly;
    }
</style>