---
layout: article.njk
title: Articles
description: "Update from my articles"
pagination:
  data: collections.articles
  size: 10
  reverse: false
testdata:
 - item1
 - item2
permalink: "articles/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
{%- for item in pagination.items %}
<h3><a href="{{item.url}}">{{item.data.title}}</a></h3>
<p>{{item.data.description}}</p>
<hr/>
{% endfor -%}
